body {
    background-image: url('https://github.com/KnoxYT/HapppyOneYear/blob/main/background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

p {
    font-size: 1.2em;
}

.final-message p {
    font-family: 'Romantic Font', cursive; /* Change this to a nice romantic font */
    font-size: 1.5em;
}